#viewall-main {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  width: 100%;
  justify-items: center;
}

.post-view-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 20px;
  color: rgb(0, 92, 134);
  padding: 12px;
  margin: 12px;

  background: white;
  border-radius: 12px;
  
  height: 133px;
  width: 272px;
  box-shadow: 0px 0px 10px rgb(182, 182, 182);
}

.post-view-card hr {
  width: 100%;
}

.post-view-body {
  min-height: 46px;
  max-height: 46px;
}

.post-view-body p,
.post-options p {
  margin: 0;
}

.post-link-button,
.post-delete-button,
.post-update-button {
  height: 30px;
  width: 80px;

  font-weight: 600;
  color: white;

  border: none;
  border-radius: 8px;
}

.post-link-button {
  background-color: rgb(55, 148, 255);
}

.post-link-button:hover,
.post-delete-button:hover,
.post-update-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px rgb(131, 131, 131);
}

.post-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

/* Delete button style */
.post-delete-button {
  background-color: rgb(250, 96, 96);
  color: rgb(0, 0, 0)
}

.post-delete-button:hover {
  color: white;
}

/* Update button style */

.post-update-button {
  background-color: rgb(255, 229, 83);
  color: rgb(0, 0, 0)
}

.post-update-button:hover {
  color: rgb(30, 255, 0);
}