body {
  background-color: rgba(206, 221, 241, 1);
}

#cms-home {
  display: grid;
  grid-template: 1fr 1fr 9fr / 1fr;
  height: 100vh;
  margin: 0 240px;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 64px;
}