nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  margin-bottom: 64px;
  margin-top: 12px;
}

nav a {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

nav a:visited {
  color: rgb(116, 0, 116);
}

nav a:hover {
  text-decoration: underline;
}